<footer class="footer footer-black footer-big" id="sectionFooter">
    <div class="container">
        <div class="row">
            <ul class="footer-menu pull-center">
                <li><a href="/home"><span class="tb-icon tb-man-23"></span> Summary</a></li>
                <li><a href="/experience"><span class="tb-icon tb-briefcase-25"></span> Work Experience</a></li>
                <li><a href="/education"><span class="tb-icon tb-hat-3"></span> Education</a></li>
                <li><a href="/projects"><span class="tb-icon tb-window-paragraph"></span> Projects</a></li>
                <li><a href="contact"><span class="tb-icon tb-email-83"></span> Contact</a></li>
                <span class="dropup"></span>
            </ul>
        </div>
        <hr>
        <div class="copyright pull-center">
            &copy; <script>document.write(new Date().getFullYear())</script> Keaton Cheffer. All rights reserved.
        </div>
    </div>
</footer>
