<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-center">
                <li {% if request.path == "/home" or request.path =="/"%} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href="/home"><span class="tb-icon tb-man-23"></span> Summary</a></li>
                <li {% if request.path == '/experience' %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href="/experience"><span class="tb-icon tb-briefcase-25"></span> Work Experience</a></li>
                <li {% if request.path == '/education' %}class="nav-item active" {% else %} class="nav-item" {% endif %}><a href="/education"><span class="tb-icon tb-hat-3"></span> Education</a></li>
                <li {% if request.path == '/projects' %}class="nav-item active" {% else %} class="nav-item" {% endif %}><a href="/projects"><span class="tb-icon tb-window-paragraph"></span> Projects</a></li>
                <li {% if request.path == '/contact' %} class="nav-item active" {% else %} class="nav-item" {% endif %}><a href="/contact"><span class="tb-icon tb-email-83"></span> Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
