<div class="cd-section">
    <div class="row">
        <div class="profile">
            <div class="avatar">
                   <img src="/static/assets/img/Keaton_Cheffer.jpg" alt="Profile" class="img-circle img-responsive img-raised">
            </div>
            <div class="name">
                <h11>Keaton Cheffer</h11>
                <ul class="list-inline">
                    <li><h13>Geophysics Undergraduate</h13></li>
                    <li><h13><i class="tb-icon tb-pin-3"></i> Texas A&M University</h13></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <ul class="list-inline check-line">
            <li>
                <a href="https://github.com/chefferk" class="btn btn-tumblr btn-round" target="_blank">
                <i class="tb-icon tb-logo-github"></i>&nbsp;Github
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/keatoncheffer" class="btn btn-tumblr btn-round" target="_blank">
                <i class="tb-icon tb-logo-linkedin"></i>&nbsp;Linkedin
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-tumblr btn-round" target="_blank">
                <i class="tb-icon tb-single-paragraph"></i>&nbsp;Resume
                </a>
            </li>
        </ul>
    </div>
</div>
