{% extends 'layout.html' %}

{% block body %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/background.png');" id="sectionProfile" >
        <div class="slogan">
            <div class="slogan-text">
                <h3 class="title">Education</h3>
                <h4>Find out what I've accomplished over the years.</h4>
            </div>
        </div>
    </div>
	<div class="main main-raised" id="profile">
    	<div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="education">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                </br>
                                <hr class="hr-divider"></hr>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/e-02.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                    Texas A&M opened its doors in 1876 as the state's first public institution of higher learning. Today, A&M stands as a research-intensive flagship university dedicated to sending Aggie leaders out into the world prepared to take on the challenges of tomorrow.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-berlin"></i>&nbsp;TEXAS A&M UNIVERSITY</h7>
                                            <p class="author">
                                            <img src="/static/assets/img/tumur.jpg" class="avatar img-raised">&nbsp;<b>Bachelor of science in Geophysics, Minor Computer Science</b></br>
                                            <h8><span class="tb-icon tb-calendar-grid-58"></span>&nbsp;August, 2015 - May, 2019</h8>
                                            <h8><span class="tb-icon tb-pin-3"></span>&nbsp;COLLEGE STATION, TEXAS</h8>
                                            </p>
                                            <p class="card-description">
                                            <ul class="fa-ul-skills">
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                Name of qualification: Diploma Informatik (FH) and it is equivalent to US Bachelor of science degree in Computer Science
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                Main field of study: Geophysics
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                Special field: Computer Science
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                Dissertation: IT-Asset Management: Software Management
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                Final Grade(DE): Good
                                                </li>
                                                <li>&nbsp;</li>
                                                <li>
                                                <span class="tb-icon tb-hat-3"></span>&nbsp;Finale Grade(US): <b>GPA 3.12</b> (Evaluated by <a href="https://www.wes.org/" target="_blank"><b>WES.org</b>&nbsp;<i class="tb-icon tb-link-69"></i></a>
                                                </li>
                                            </ul>
                                            <a href="#" target="_blank" class="btn btn-github btn-s">
                                            <i class="tb-icon tb-globe"></i>&nbsp;Visit Website
                                            </a>
                                            <a href="#" target="_blank" class="btn btn-linkedin btn-s">
                                            <i class="tb-icon tb-award-49"></i>&nbsp;Certificate
                                            </a>
                                            <a href="#" target="_blank" class="btn btn-linkedin btn-s">
                                            <i class="tb-icon tb-single-paragraph"></i>&nbsp;Evaluation Report
                                            </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="http://school84.edu.mn/index.html" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/e-06.jpg" />
                                                </div>
                                            </a>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-school"></i>&nbsp;Belleville Township High School West</h7>
                                            <p class="author">
                                            <img src="/static/assets/img/tumur.jpg" class="avatar img-raised">&nbsp;<b>High School Diploma</b></br>
                                            <h8><span class="tb-icon tb-calendar-grid-58"></span>&nbsp;September, 1989 - June, 1999</h8>
                                            <h8><span class="tb-icon tb-pin-3"></span>&nbsp; Belleville, Illinois</h8>
                                            </p>
                                            <p class="card-description">
                                            <ul class="fa-ul-skills">
                                            <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Name of qualification: High school diploma
                                            </li>
                                            <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Special field: Mathemaics/Physics
                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                            <span class="tb-icon tb-hat-3"></span>&nbsp;Completed and Finale Grade(MN): <b>Excellent</b>
                                            </li>
                                            </ul>
                                            <a href="http://school84.edu.mn/index.html" target="_blank" class="btn btn-github btn-s">
                                            <i class="tb-icon tb-globe"></i>&nbsp;Visit Website
                                            </a>
                                            <a href="/static/assets/pdf/e-07.pdf" target="_blank" class="btn btn-linkedin btn-s">
                                            <i class="tb-icon tb-award-49"></i>&nbsp;Diploma
                                            </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
{% endblock %}
