{% extends 'layout.html' %}

{% block body %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/background.png');" id="sectionProfile" >
        <div class="slogan">
            <div class="slogan-text">
                <h3 class="title">Education</h3>
                <h4>Find out what I've accomplished over the years.</h4>
            </div>
        </div>
    </div>
	<div class="main main-raised" id="profile">
    	<div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="education">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                </br>
                                <hr class="hr-divider"></hr>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/education/tamu.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                    Texas A&M opened its doors in 1876 as the state's first public institution of higher learning. Today, A&M stands as a research-intensive flagship university dedicated to sending Aggie leaders out into the world prepared to take on the challenges of tomorrow.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-berlin"></i>&nbsp;TEXAS A&M UNIVERSITY</h7>
                                            <p class="author">
                                            <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised">&nbsp;<b>Bachelor of Science in Geophysics, Minor Computer Science</b></br>
                                            <h8><span class="tb-icon tb-calendar-grid-58"></span>&nbsp;August, 2015 - May, 2019</h8>
                                            <h8><span class="tb-icon tb-pin-3"></span>&nbsp;COLLEGE STATION, TEXAS</h8>
                                            </p>
                                            <p class="card-description">

                                            <ul class="fa-ul-skills">
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>Geology & Geophysics Society</strong>: Vice President
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>Wine to Water TAMU</strong>: Founder and first president
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>Society of Exploration Geophysicists</strong>&nbsp;(SEG): Member
                                                </li>
                                                <li>
                                                <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>American Association of Petroleum Geologists</strong>&nbsp;(AAPG): Member
                                                </li>
                                                <li>&nbsp;</li>
                                                <li>
                                                <span class="tb-icon tb-hat-3"></span>
                                                &nbsp;John and Mary Lou Ryan Scholarship
                                                </li>
                                                <li>
                                                <span class="tb-icon tb-hat-3"></span>
                                                &nbsp;Guest Speaker at TAMU Board of Directors meeting
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/education/bths.jpg" />
                                                </div>
                                            </a>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-school"></i>&nbsp;Belleville Township High School West</h7>
                                            <p class="author">
                                            <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised">&nbsp;<b>High School Diploma</b></br>
                                            <h8><span class="tb-icon tb-calendar-grid-58"></span>&nbsp;September, 1989 - June, 1999</h8>
                                            <h8><span class="tb-icon tb-pin-3"></span>&nbsp; Belleville, Illinois</h8>
                                            </p>
                                            <p class="card-description">
                                            <ul class="fa-ul-skills">
                                            <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>Varsity Soccer</strong>: Captain
                                            </li>
                                            <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                &nbsp;<strong>WYSE Engineering Club</strong>: Founder
                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
{% endblock %}
