{% extends 'layout.html' %}

{% block body %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/background.png');" id="sectionProfile" >
        <div class="slogan">
            <div class="slogan-text">
                <h3 class="title">Work Experience</h3>
                <h4>Feel free to take a deeper look at what I've accomplished over the years.</h4>
            </div>
        </div>
    </div>
    <div class="main main-raised" id="profile">
        <div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="experience">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                </br>
                                <hr class="hr-divider"></hr>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="https://github.com/tumurb" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/we-05.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        Personal development through online ressources.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-android"></i>&nbspINDEPENDENT STUDIES</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/tumur.jpg" class="avatar img-raised"> <b>Android Developer</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> April, 2016 - June, 2018</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> San Francisco, CA, USA</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Developed fully functional apps through their full life-cycle for multiple devices.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Incorporated Android SDK, Material Design principals, and Web APIs.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Maintained clean and concise code through multiple rounds of testing and refactoring.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Utilized Github to successfully create an app from paper prototypes to full release of the app.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Experienced in debugging through fixing numerous bugs.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Used third-party libraries such as Retrofit, OkHttp, Glide, Picasso, Espresso, etc.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Created and managed SQL and Firebase to store data.
                                                    </li>
                                                </ul>
                                                <a href="https://github.com/tumurb" target="_blank" class="btn btn-github btn-s"><span class="tb-icon tb-logo-github"></span> Visit GitHub Account</a>
                                                <a href="https://play.google.com/store/apps/dev?id=4872099625526337244" class="btn btn-linkedin btn-s" target="_blank"><span class="tb-icon tb-android"></span> Google Play Store </a>
                                            </p>
                                            News, Press & Articles
                                            <h8>
                                                <i class="tb-icon tb-single-paragraph"></i>&nbsp;
                                            </h8>
                                            <hr class="hr-divider"></hr>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://play.google.com/store/apps/details?id=info.tumur.resume.app" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/resume_app.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://play.google.com/store/apps/details?id=info.tumur.resume.app" target="_blank"><b>RESUME ANDROID APP</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2016-06-10</h9>
                                                    <p>
                                                        This project was developed for the Android SDK Development of my independent stu...
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://play.google.com/store/apps/details?id=mn.ork.news.app" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/blog_app.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://play.google.com/store/apps/details?id=mn.ork.news.app" target="_blank"><b>BLOG ANDROID APP</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2016-05-28</h9>
                                                    <p>
                                                        This project was developed for the Android SDK Development of my independent stu...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="http://tumur.info//static/assets/web/eghpp/" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/we-01.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        It's a government-funded project, and the project team was established in 2013 and conducted the feasibility studies.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-drops"></i>&nbspEG HYDRO POWER PLANT PROJECT</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/tumur.jpg" class="avatar img-raised"> <b>Engineering Team Lead</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> November, 2013 - February, 2016</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> ULAANBAATAR, MONGOLIA</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Managed an engineering team (8 people), conducted <a href="/static/assets/pdf/fs.pdf" target="_blank"><b>feasibility studies</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> and required documents for Chinese soft loan with <a href="https://tractebel-engie.com/en" target="_blank"><b>Tractebel Engineering</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> team which ensured a government-backed loan from <a href="http://english.eximbank.gov.cn/en/" target="_blank"><b>China Export-Import Bank</b>&nbsp;<i class="tb-icon tb-link-69"></i></a>.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Redesigned and improved <a href="http://www.tumur.info//static/assets/web/eghpp/" target="_blank"><b>a previous website</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> with web technologies such as HTML, CSS, JavaScript, PHP, MySQL, and Photoshop.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Created a project <a href="http://www.tumur.info/static/assets/pdf/pp.pdf" target="_blank"><b>presentation</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> and <a href="http://www.tumur.info//static/assets/pdf/dm.pdf" target="_blank"><b>marketing material</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> using Photoshop and InDesign.
                                                    </li>
                                                </ul>
                                                <a href="http://tumur.info/static/assets/web/eghpp/" target="_blank" class="btn btn-github btn-s"><span class="tb-icon tb-globe"></span> Visit Website</a>
                                                <a href="/static/assets/pdf/we-01.pdf" class="btn btn-linkedin btn-s" target="_blank"><span class="tb-icon tb-single-copy-04"></span> Statement of employment </a>
                                            </p>
                                            News, Press & Articles
                                            <h8>
                                                <i class="tb-icon tb-single-paragraph"></i>&nbsp;
                                            </h8>
                                            <hr class="hr-divider"></hr>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://www.bloomberg.com/news/articles/2015-03-23/mongolia-seeks-828-million-from-china-for-largest-hydro-project" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/bloomberg.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://www.bloomberg.com/news/articles/2015-03-23/mongolia-seeks-828-million-from-china-for-largest-hydro-project" target="_blank"><b>BLOOMBERG</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2015-03-23</h9>
                                                    <p>
                                                        Mongolia Seeks $828 Million From China for Largest Hydro Project...
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://www.forbes.com/sites/kenrapoza/2017/04/07/in-russia-the-worlds-largest-lake-takes-on-the-world-bank-and-mongolian-power-build-up/#1377bf7d4df5" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/forbes.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://www.forbes.com/sites/kenrapoza/2017/04/07/in-russia-the-worlds-largest-lake-takes-on-the-world-bank-and-mongolian-power-build-up/#1377bf7d4df5" target="_blank"><b>FORBES</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2017-04-07</h9>
                                                    <p>
                                                        In Russia, The World's Largest Lake Takes On The World Bank and Mongolian Power ...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="https://www.unitel.mn/unitel/" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/we-02.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        Unitel Corporation was founded in 2005, and it's a second largest mobile operator company regarding subscriber base in Mongolia.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-signal"></i>&nbspUNITEL Corporation</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/tumur.jpg" class="avatar img-raised"> <b>Business Solution Specialist</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> November, 2009 - August, 2012</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> ULAANBAATAR, MONGOLIA</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Managed technical development of <a href="https://us.blackberry.com/enterprise/enterprise-consulting" target="_blank"><b>Blackberry</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> and <a href="https://seven.com/products.mobileapps.php" target="_blank"><b>real-time mobile messaging</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> projects from agreement stage and implemented a policy and procedures of the products with <a href="https://www.al-enterprise.com/en" target="_blank"><b>Alcatel Lucent</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> and <a href="https://www.seven.com/" target="_blank"><b>Seven Networks</b>&nbsp;<i class="tb-icon tb-link-69"></i></a> internal personnel.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Increased data service activation by over 30% and optimized data traffic of a wireless network five times.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Delivered and contributed to the training of over 300 sales and customer support representatives on the Blackberry and mobile messaging products, many of which started with little or no tech background.
                                                    </li>
                                                </ul>
                                                <a href="https://www.unitel.mn/unitel/" target="_blank" class="btn btn-github btn-s"><span class="tb-icon tb-globe"></span> Visit Website</a>
                                                <a href="/static/assets/pdf/we-02.pdf" class="btn btn-linkedin btn-s" target="_blank"><span class="tb-icon tb-single-copy-04"></span> Statement of employment </a>
                                            </p>
                                            News, Press & Articles
                                            <h8>
                                                <i class="tb-icon tb-single-paragraph"></i>&nbsp;
                                            </h8>
                                            <hr class="hr-divider"></hr>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://www.finchannel.com/technology/26258-" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/financial.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://www.finchannel.com/technology/26258-" target="_blank"><b>THE FINANCIAL</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2010-02-10</h9>
                                                    <p>
                                                        Unitel, Alcatel-Lucent and RIM launch the BlackBerry Solution in Mongolia...
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="expnews-maincontainer">
                                                <div class="expnews-leftcolumn">
                                                    <a href="https://blog.seven.com/2011/10/18/mongolia-debuts-innovative-service-with-a-green-twist/" target="_blank">
                                                        <img class="news-image" src="/static/assets/img/seven_blog.jpg">
                                                    </a>
                                                </div>
                                                <div class="expnews-contentwrapper">
                                                    <h9><i class="tb-icon tb-single-copy-04"></i>&nbsp;<a href="https://blog.seven.com/2011/10/18/mongolia-debuts-innovative-service-with-a-green-twist/" target="_blank"><b>SEVEN BLOG</b></a> | <i class="tb-icon tb-calendar-grid-58"></i>&nbsp;2011-10-18</h9>
                                                    <p>
                                                        Mongolia Debuts Innovative Service with a Green Twist...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="https://www.starfinanz.de/index.php?id=home" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/we-04.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        Star Finanz is a leading provider of online and mobile multi-banking solutions in Germany.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-bank"></i>&nbspSTARF FINANZ GMBH</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/tumur.jpg" class="avatar img-raised"> <b>Software Test Engineer</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> January, 2009 - February, 2009</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> Hamburg, Germany</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Support of Quality Assurance Department
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Implementation of manual and automated tests
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Improvement and Optimization of software products
                                                    </li>
                                                </ul>
                                                <a href="https://www.starfinanz.de/index.php?id=home" target="_blank" class="btn btn-github btn-s"><span class="tb-icon tb-globe"></span> Visit Website</a>
                                                <a href="/static/assets/pdf/we-04.pdf" class="btn btn-linkedin btn-s" target="_blank"><span class="tb-icon tb-award-49"></span> Employment agreement </a>
                                            </p>
                                            <p class="text-blockquoted">
                                                <span class="tb-icon tb-alert-square-i"></span>&nbsp;&nbsp;After I graduated from the University in October 2008, I tried to find a job there and was offered a job position as a Test Engineer at Star Finanz GmbH for online banking software. The contract was valid for one year in the beginning, and the company will renew the contract and retain me on a permanent basis if they satisfy my work. However, because of my salary offered is lower than the minimum required by the local labor union, my work permit request was denied. After my work permit application was rejected at the end of January 2009, my company tried to negotiate and fought for my case, but the immigration office denied my claim.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="https://www.daimler.com/en/" target="_blank">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/we-03.jpg" />
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                    The World’s biggest manufacturer of commercial vehicles such as Mercedes Benz cars.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7><i class="tb-icon tb-delivery"></i>&nbspDaimler AG</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/tumur.jpg" class="avatar img-raised"> <b>Cognos Specialist | Mandatory Internship</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> March, 2007 - August, 2007</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> Stuttgart, Germany</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Migrated transport logistic material reports into a new Inbound Logistic Information System by using of Cognos 8 Report Studio.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Analyzed and tested the created reports by using of Cognos 8 Analysis Studio.
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Increased organization effectiveness through the implementation of automatically generated data quality reports.
                                                    </li>
                                                </ul>
                                                <a href="https://www.daimler.com/en/" target="_blank" class="btn btn-github btn-s"><span class="tb-icon tb-globe"></span> Visit Website</a>
                                                <a href="/static/assets/pdf/we-03.pdf" class="btn btn-linkedin btn-s" target="_blank"><span class="tb-icon tb-award-74"></span> Intern Report </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br>
{% endblock %}
