{% extends 'layout.html' %}

{% block body %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/background.png');" id="sectionProfile" >
        <div class="slogan">
            <div class="slogan-text">
                <h3 class="title">Work Experience</h3>
                <h4>Feel free to take a deeper look at what I've accomplished over the years.</h4>
            </div>
        </div>
    </div>
    <div class="main main-raised" id="profile">
        <div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="experience">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                </br>
                                <hr class="hr-divider"></hr>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/experience/nxed.jpg" />
                                                </div>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        Nxed team is pushing the limits of blockchain technology and machine learning to empower students, educators, and local communities.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7>Intership: Nxed Techlnologies</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised"> <b>Front-end Developer</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> August, 2017 - May, 2018</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> College Station, Texas</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Created UI/UX for the education app Auxi
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Developed NXED Website
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Lead developer for Auxi desktop app
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Utilized Github to successfully create an app from wireframe prototypes to full application.
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/experience/milwalk.jpg" />
                                                </div>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        GeoInnovation specializes in research and software development, partnering with other centers to offer GIS services for research frameworks, data analysis, and advancement of ideas.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7>TAMU GeoInnovation</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised"> <b>Student Technician</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> August, 2015 - May, 2016</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span>College Station, Texas</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Converted PHP sites to Angular.JS web apps
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Learned collaboration of large scale projects with tools such as GitHub
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/experience/cyclery.jpg" />
                                                </div>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        The Cyclery and Fitness Center was established in 1979 with the goal of providing the Saint Louis Metro East area with an outstanding cycling experience to complement a fitness lifestyle.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7>The Cyclery and Fitness Cente</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised"> <b>Sales Associate</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> May, 2015 - August, 2017 (Summers)</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> Shiloh, Illinois</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Gained valuable sales skills
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Had highest sales of all other associates every month
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-plain card-blog">
                                    <div class="row">
                                        <div class="col-sm-4">
                                                <div class="card-image">
                                                    <img class="img img-raised" src="/static/assets/img/experience/bk.jpg" />
                                                </div>
                                            <div class="card-body">
                                                <p class="card-description">
                                                    <i class="tb-icon tb-alert-circle-i"></i>&nbsp;
                                                    <i>
                                                        Belleville Khoury League is a non-profit, 501(c)(3) organization operating in Belleville, Illinois. Operating since 1953, Belleville Khoury League has been serving the youth of the Belleville community for over 60 consecutive years.
                                                    </i>
                                                </p>
                                            </div>
                                            <div class="footer">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h7>Belleville Khoury League</h7>
                                            <p class="author">
                                                <img src="/static/assets/img/Keaton_Cheffer.jpg" class="avatar img-raised"> <b>Grounds Director</b></br>
                                                <h8><span class="tb-icon tb-calendar-grid-58"></span> May, 2010 - August, 2015 (Summers)</h8>
                                                <h8><span class="tb-icon tb-pin-3"></span> Belleville, Illinois</h8>
                                            </p>
                                            <p class="card-description">
                                                <ul class="fa-ul-skills">
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Maintained three rookie baseball complexes
                                                    </li>
                                                    <li>
                                                        <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                                        Coordinated field work responsibilities across ground crew
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br>
{% endblock %}
