{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_header.html' %}
	<div class="main main-raised" id="profile">
    	<div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="sectionSummary">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h10>Education</h10>
                            <hr class="hr-divider"></hr>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td class="text-center"><span class="tb-icon tb-award-74"></span></td>
                                        <td>
                                        <h6 class="link">
                                        <a href="#" target="_blank">
                                        Geophysics
                                        </a>
                                        </h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><span class="tb-icon tb-pin-3"></span></td>
                                        <td><h9>Texas A&M University</h9></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h10>Experience</h10>
                            <hr class="hr-divider"></hr>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-bank"></span></td>
                                            <td>
                                                <h6 class="link">
                                                    <a href="#" target="_blank">
                                                        1
                                                    </a>
                                                </h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-pin-3"></span></td>
                                            <td><h9>College Station, Texas</h9></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-delivery"></span></td>
                                            <td>
                                                <h6 class="link">
                                                    <a href="#" target="_blank">
                                                        2
                                                    </a>
                                                </h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-pin-3"></span></td>
                                            <td><h9>College Station, Texas</h9></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="particles-js"></div>

                            <h10>Contact</h10>
                            <hr class="hr-divider"></hr>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-send"></span></td>
                                            <td>
                                                <h6 class="link"><a href="mailto:keaton@tamu.edu" target="_blank">keaton@tamu.edu</a></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span class="tb-icon tb-phone-call"></span></td>
                                            <td><h9><a href="tel:+1 618 806 1914" target="_blank">+1 (618) 806-1914</a></h9></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <h10>Summary</h10>
                            <hr class="hr-divider"></hr>
                            <p class="summary">Geophysics Undergraduate interested in Machine learning in Geosciences.</p>
                            </br>

                            <h10>Technical Skills</h10>
                            <hr class="hr-divider"></hr>
                            <div class="row">
                            <div class="col-sm-4">
                                <div class="description">
                                    <h12>Programming languages</h12>
                                    <ul class="fa-ul-skills">
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Python
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Fortran
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            HTML/CSS/Bootstrap
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            JavaScript/jQuery
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            LaTex
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Matlab
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            C/C++
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description">
                                    <h12>Frameworks & Libraries</h12>
                                    <ul class="fa-ul-skills">
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Flask
                                        </li>
                                        <!-- <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Retrofit/OkHttp
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Firebase Analytics/Crashlytics
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Firebase Cloud Messaging
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Firebase Database/Storage
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Glide/Picasso
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Butterknife/Lottie
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Universal Image Loader
                                        </li> -->
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Material Design
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description">
                                    <h12>Skills</h12>
                                    <ul class="fa-ul-skills">
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Photoshop
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Illustrator
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Microsoft Office
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Autodesk AutoCAD
                                        </li>
                                        <li>
                                            <i class="tb-icon tb-check-circle-07" aria-hidden="true"></i>
                                            Autodesk Inventor
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br>

{% endblock %}
