{% extends 'layout.html' %}

{% block body %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/background.png');" id="sectionProfile" >
        <div class="slogan">
            <div class="slogan-text">
                <h3 class="title">Projects</h3>
                <h4>Please find below a selection of some of my most recent works.</h4>
            </div>
        </div>
    </div>
	<div class="main main-raised" id="profile">
    	<div class="profile-content">
            <div class="container">
                {% include 'includes/_pic_section.html' %}
                <div class="cd-section" id="portfolio">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <br>
                                <hr class="hr-divider"></hr>
                                <div class="row">
                                    <div class="about-office">
                                        <div class="row">
                                            <div class="col-md-4 margin-top">
                                                <a href="https://www.geovision.ai" target="_blank">
                                                    <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/geovision.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                    <span class="tb-icon tb-globe"></span>
                                                    geovision.ai
                                                </h14>
                                                <p class="description">
                                                    This flask web app is designed to be the platform of my undergraduate thesis exploring computer vision in the Geosciences. It currently serves as a convinint way to collect labled image data from users.
                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> May, 2018</h8>
                                                <br>
                                                <h9>Python, Flask, Tensorflow, Google Compute Cloud, PostgreSQL, JaveScript, HTML, CSS, Bootstrap, JSON, Material Design</h9>
                                            </div>
                                            <div class="col-md-4 margin-top">
                                                <a href="/" target="_blank">
                                                    <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/kc.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                    <span class="tb-icon tb-globe"></span>
                                                    Personal website
                                                </h14>
                                                <p class="description">
                                                    A simple flask app which shows information about myself, experience, and education, along with showcasing some of my projects and skills.
                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> June, 2018</h8>
                                                <br>
                                                <h9>Google App Engine, HTML, CSS, Boostrap, JavaScript, Material Design</h9>
                                            </div>
                                            <div class="col-md-4 margin-top">
                                                <a href="http://www.geophysics.ai" target="_blank">
                                                <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/gp.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                <span class="tb-icon tb-globe"></span>
                                                geophysics.ai
                                                </h14>
                                                <p class="description">

                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> July, 2018</h8>
                                                <br>
                                                <h9>Google App Engine, HTML, CSS, Boostrap, JavaScript, Material Design</h9>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-4 margin-top">
                                                <a href="www.geoscience-ai.appspot.com" target="_blank">
                                                    <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/gs.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                    <span class="tb-icon tb-globe"></span>
                                                    geoscience.ai
                                                </h14>
                                                <p class="description">
                                                    This is an fully responsive resume website with PHP and MySQL backend which will connect people with me and my portfolio.
                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> December, 2017</h8>
                                                <br>
                                                <h9>Google App Engine, HTML, CSS, Boostrap, JavaScript, Material Design</h9>
                                            </div>
                                            <div class="col-md-4 margin-top">
                                                <a href="#" target="_blank">
                                                    <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/portfolio3-1.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                    <span class="tb-icon tb-globe"></span>
                                                    Arduino
                                                </h14>
                                                <p class="description">
                                                    During my time as a engineering team lead at hydro project, I developed and designed a project website from the planning stage to production.
                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> July, 2018</h8>
                                                <br>
                                                <h9>HTML, CSS, JavaScript, JQuery</h9>
                                            </div>
                                            <div class="col-md-4 margin-top">
                                                <a href="#" target="_blank">
                                                    <img class="img-rounded img-responsive img-raised" alt="Project" src="/static/assets/img/portfolio4-1.jpg">
                                                </a>
                                                <br>
                                                <h14>
                                                    <span class="tb-icon tb-globe"></span>
                                                    Desktop app
                                                </h14>
                                                <p class="description">
                                                    I decided to do my own clean and minimal vcard concept which should be different than others.
                                                </p>
                                                <h8><span class="tb-icon tb-window-dev"></span> Technologies | <span class="tb-icon tb-calendar-grid-58"></span> January, 2017</h8>
                                                <br>
                                                <h9>Electron, HTML, CSS, JavaScript, Python, JQuery</h9>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br>
{% endblock %}
